Repository rkuhn/cardano-blueprint, changes with the owners that .github/CODEOWNERS names for each.
All owners: @team-blueprint, @ch1bo, @jasegredo, @nc6, @zliu41

.github/CODEOWNERS:

* @team-blueprint @ch1bo

src/client/ @ch1bo
src/codecs/ @jasegredo

src/ledger/ @nc6

src/consensus/ @jasegredo
src/mempool/ @jasegredo
src/storage/ @jasegredo

src/plutus/ @zliu41

Add notes about ledger state query API
  src/client/node-to-client/state-query/README.md
Owners: @ch1bo

Use cddl socket in n2c api example cddl
  src/client/node-to-client/state-query/getSystemStart.cddl
  src/client/node-to-client/state-query/messages.cddl
Owners: @ch1bo

Check api example cbor in CI
  .github/workflows/check-examples.sh
  .github/workflows/check-examples.yaml
  flake.nix
  src/client/node-to-client/state-query/getSystemStart.cddl
  src/client/node-to-client/state-query/messages.cddl
Owners: @team-blueprint, @ch1bo

Update logbook
  src/logbook.md
Owners: @team-blueprint, @ch1bo

Regenerate getSystemStart/result.cbor
  src/client/node-to-client/state-query/examples/getSystemStart/result.cbor
Owners: @ch1bo

Require dayOfYear to be an unsigned int
  src/client/node-to-client/state-query/getSystemStart.cddl
Owners: @ch1bo

Deploy preview for PR 52 🛫
  pr-preview/pr-52/consensus/chainsel.html
  pr-preview/pr-52/consensus/forging.html
  pr-preview/pr-52/consensus/index.html
  pr-preview/pr-52/index.html
  pr-preview/pr-52/introduction/index.html
  pr-preview/pr-52/ledger/block-validation.html
  pr-preview/pr-52/ledger/transaction-fee.html
  pr-preview/pr-52/mempool/index.html
  pr-preview/pr-52/network/index.html
  pr-preview/pr-52/network/mini-protocols.html
  pr-preview/pr-52/network/multiplexing.html
  pr-preview/pr-52/network/node-to-node/chainsync/index.html
  pr-preview/pr-52/network/node-to-node/handshake/index.html
  pr-preview/pr-52/optimise-worst.html
  pr-preview/pr-52/plutus/cek.html
  pr-preview/pr-52/principles/optimise-worst.html
  pr-preview/pr-52/print.html
  pr-preview/pr-52/searchindex.js
  pr-preview/pr-52/storage/cardano-node-chaindb/index.html
  pr-preview/pr-52/styleguide.html
  pr-preview/pr-52/toc.html
  pr-preview/pr-52/toc.js
Owners: @team-blueprint, @ch1bo

Add section README/contents page
  src/SUMMARY.md
  src/principles/README.md
Owners: @team-blueprint, @ch1bo

Apply formattingf
  src/optimise-worst.md
Owners: @team-blueprint, @ch1bo

Address review comments:
  src/SUMMARY.md
  src/optimise-worst.md
  src/principles/README.md
Owners: @team-blueprint, @ch1bo

Add principles to summary section
  src/SUMMARY.md
Owners: @team-blueprint, @ch1bo

Update src/principles/optimise-worst.md
  src/principles/optimise-worst.md
Owners: @team-blueprint, @ch1bo

Add a 'principle' about optimisation.
  src/principles/optimise-worst.md
Owners: @team-blueprint, @ch1bo

Re-instate principles section, but only as a single page
  src/SUMMARY.md
  src/principles/README.md
Owners: @team-blueprint, @ch1bo

Deploy preview for PR 52 🛫
  pr-preview/pr-52/index.html
  pr-preview/pr-52/introduction/index.html
  pr-preview/pr-52/network/index.html
  pr-preview/pr-52/principles/index.html
  pr-preview/pr-52/print.html
  pr-preview/pr-52/searchindex.js
  pr-preview/pr-52/toc.html
  pr-preview/pr-52/toc.js
Owners: @team-blueprint, @ch1bo

Deploying to gh-pages from @ cardano-scaling/cardano-blueprint@9ca208f9dcde6aca02a913750b32a64428c5253e 🚀
  introduction/index.html
  network/index.html
  principles/index.html
  print.html
  searchindex.js
  toc.html
  toc.js
Owners: @team-blueprint, @ch1bo

feat: ledger rule footgun scaffolding
  src/SUMMARY.md
  src/ledger/ledger-rules/README.md
  src/ledger/ledger-rules/witness-validation.md
Owners: @team-blueprint, @ch1bo, @nc6

chore: update "footgun" to "land mine" and add additional context and explanation
  src/ledger/ledger-rules/README.md
  src/ledger/ledger-rules/witness-validation.md
Owners: @nc6

Add section on transaction validity.
  src/ledger/state-transition/validity.md
Owners: @nc6

Formatting
  flake.nix
  src/ledger/README.md
Owners: @team-blueprint, @ch1bo, @nc6

Add section on determinism
  src/ledger/concepts/blocks.md
  src/ledger/concepts/determinism.md
Owners: @nc6

Add section on blocks.
  src/ledger/concepts/blocks.md
  src/ledger/concepts/transactions.md
  src/ledger/constraints/header-body-split.md
  src/ledger/state-transition.md
Owners: @nc6

Add a plan for working on the ledger blueprint
  src/ledger/README.md
  src/ledger/plan.md
Owners: @nc6

Add new pages to summary
  src/SUMMARY.md
Owners: @team-blueprint, @ch1bo

Add a couple of other sections to the plan
  src/ledger/plan.md
Owners: @nc6

Deploy preview for PR 51 🛫
  pr-preview/pr-51/consensus/chainsel.html
  pr-preview/pr-51/consensus/forging.html
  pr-preview/pr-51/consensus/index.html
  pr-preview/pr-51/introduction/index.html
  pr-preview/pr-51/ledger/block-validation.html
  pr-preview/pr-51/ledger/concepts/blocks.html
  pr-preview/pr-51/ledger/concepts/determinism.html
  pr-preview/pr-51/ledger/index.html
  pr-preview/pr-51/ledger/state-transition.html
  pr-preview/pr-51/ledger/state-transition/validity.html
  pr-preview/pr-51/ledger/transaction-fee.html
  pr-preview/pr-51/mempool/index.html
  pr-preview/pr-51/network/index.html
  pr-preview/pr-51/network/mini-protocols.html
  pr-preview/pr-51/network/multiplexing.html
  pr-preview/pr-51/network/node-to-node/chainsync/index.html
  pr-preview/pr-51/network/node-to-node/handshake/index.html
  pr-preview/pr-51/plutus/cek.html
  pr-preview/pr-51/principles/index.html
  pr-preview/pr-51/print.html
  pr-preview/pr-51/searchindex.js
  pr-preview/pr-51/storage/cardano-node-chaindb/index.html
  pr-preview/pr-51/styleguide.html
  pr-preview/pr-51/toc.html
  pr-preview/pr-51/toc.js
Owners: @team-blueprint, @ch1bo

Deploying to gh-pages from @ cardano-scaling/cardano-blueprint@b9688a0fae9a3d9f419143913553dcdf862d5de8 🚀
  ledger/concepts/blocks.html
  ledger/concepts/determinism.html
  ledger/state-transition.html
  ledger/state-transition/validity.html
  print.html
  searchindex.js
  toc.html
  toc.js
Owners: @team-blueprint, @ch1bo
